.audio-container {
  position: fixed;
  background: #F1F3F4;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  bottom: 0;
  align-self: center;
  overflow: hidden;
  width: 300px;
}

audio, video {
  padding: 1px;
  outline-color: red;
  align-self: center;
}

.audio-display {
  white-space: nowrap;
  overflow: hidden;
  background: orangered;
}

.audio-display-text {
  color: black;
  position: relative;
  animation: scroll 7s linear infinite;
}

@keyframes scroll {
  0% {
    left: -130%;
  }
  100% {
    left: 120%;
  }
}
