.header-container {
  display: grid;
  grid-template-areas: 'a b b b c';
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  background-color: white;
  padding: 0.5rem;
  border-radius: 3px 3px 0 0;
  border: 2px solid var(--main-color);
  border-bottom: none;
}

.logo-container {
  display: flex;
}

.logo {
  align-self: center;
  color: var(--main-color);
  cursor: default;
}

.logo-main {
  font-size: 2rem;
}

.logo-secondary {
  margin-top: 1rem;
  font-size: 1rem;
}

.arrows-container {
  display: flex;
  grid-area: b;
  justify-content: space-evenly;
  color: var(--main-color);
}

.arrows-container button {
  border: none;
  background: transparent;
  outline-color: var(--main-color);
  overflow: hidden;
}

.arrow {
  font-size: 48px;
  cursor: pointer;
  transition: all 0.3s;
  width: 30px;
}

.arrow:hover {
  transform: scale(1.2);
}

.disabled .arrow {
  cursor: not-allowed;
  filter: opacity(40%);
}

.disabled:hover .arrow {
  transform: scale(1);
}

.disabled:hover .arrow-forward,
.arrow-forward,
.arrow-forward:hover {
  transform: rotate(180deg);
}

.header-page-number {
  align-self: center;
  font-size: 24px;
  color: black;
  cursor: default;
}

.select-container {
  display: flex;
  flex-direction: column;
  justify-self: center;
  grid-area: c;
  min-width: 0;
}

.select-container span {
  cursor: default;
}

.select-container select {
  margin-top: 5px;
  width: 50%;
  align-self: center;
  border-radius: 3px;
  border: 1px solid var(--main-color);
  background-color: white;
  cursor: pointer;
  outline-color: var(--main-color);
}
