.userinfo-container {
  display: flex;
  align-items: center;
  color: white;
  align-self: flex-end;
  font-size: 1.2rem;
}

.icon-logout {
  filter: invert(100%) sepia(3%) saturate(7407%) hue-rotate(6deg)
    brightness(112%) contrast(104%);
  margin-left: 5px;
}

.logout-btn {
  border: none;
  background: transparent;
  outline-color: white;
  overflow: hidden;
}
